<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow">
                <div class="card-body">
                    <img src="https://statics.proyectoclubes.com/images/header/logo-las-palmas.png"
                        alt="Card image cap"><br />
                    <h5 class="card-title">Bienvenido a la gestión de jugadores de la UD Las Palmas</h5>
                    <p class="card-text"><br />
                        La denominación de Unión Deportiva Las Palmas surge después de un largo proceso de discusión
                        para elegir la nomenclatura idónea para el club resultante de la fusión de los cinco equipos que
                        la fundaron. Claramente se estipuló que el nombre resultante de aquel nuevo club –cláusula que
                        aún hoy se mantiene en los estatutos del club no podría ser el de ninguno de sus propios
                        fundadores, sino uno completamente nuevo.<br/><br/>

                        Al principio, se barajó con cierta fuerza el nombre de Deportivo de Canarias, pero pronto fue
                        desestimado pues hacía referencia a todo el archipiélago. Asimismo, se contempló la posibilidad
                        de decantarse por Las Palmas a secas, pero igualmente fue desechado, debido a la existencia
                        anterior de un club deportivo con ese nombre.<br/><br/>

                        No hubo, pues, muchas dudas más. La UD Las Palmas había nacido de la unión de todos los
                        canarios.<br/><br/>

                        La Unión Deportiva hace mención a la historia fundacional de este gran club, y Las Palmas, a su
                        pertenencia grancanaria. Un nombre que guarda en su corazón infinidad de sentimientos y
                        emociones, concebido para escribir hojas brillantes en la historia balompédica de este país.<br/><br/>
                        
                        La información, imágenes e información de la plantilla se han obtenido de la <a
                            href="https://www.udlaspalmas.es/">página oficial de la UD Las Palmas.</a></p>
                    <a class="btn btn-primary" routerLink="../plantilla">Gestionar plantilla</a>
                </div>
            </div>
        </div>
    </div>
</div>